DATABASE_URL=postgresql://finance_db_qfup_user:J17tEfIWmc6ozO9rNZGtLMskLtc3DA8U@dpg-d796hqqa214c73alret0-a/finance_db_qfup
JWT_SECRET=
REDIS_HOST=redis-cli --tls -u redis://default:gQAAAAAAAThLAAIncDI3MmY1YmQ1NmMyMGI0YjA2OWE1NWRkNTNkMDM0NjhlOXAyNzk5NDc@certain-skunk-79947.upstash.io:6379